@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #1A1A1A;
  --primary-blue: #009FE3;
  --innovation-green: #A7E100;
  --institutional-blue: #003366;
  --neutral-gray: #F2F2F2;
  --elegant-black: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
